.git
.github
.idea
.vscode
.env
**/.env
**/.env.*
!**/.env.example
laradock
laravel/node_modules
laravel/vendor
laravel/storage/framework/cache/data/*
laravel/storage/framework/sessions/*
laravel/storage/framework/testing/*
laravel/storage/framework/views/*
laravel/storage/logs/*
laravel/storage/api-docs/*
laravel/.phpunit.cache
laravel/.phpunit.result.cache
