APP_NAME="Donqer Lab"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://api-lab.donqer.com
FRONTEND_URL=https://lab.donqer.com

APP_LOCALE=es
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=es_GT

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=donqer_lab
DB_USERNAME=donqer_lab
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=.donqer.com
SESSION_COOKIE=donqer-lab-session
SESSION_SECURE_COOKIE=true
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax
SANCTUM_STATEFUL_DOMAINS=lab.donqer.com,api-lab.donqer.com

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS="demo@donqer.com"
MAIL_FROM_NAME="${APP_NAME}"

L5_SWAGGER_USE_ABSOLUTE_PATH=false
L5_SWAGGER_GENERATE_ALWAYS=false
L5_SWAGGER_OPEN_API_SPEC_VERSION=3.1.0
